@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Project to analyze the use of blockchain in the Brazilian criminal background system.</p>
    <p>This project was made for the discipline of distributed systems design.</p>
</div>
